.default-margin {
    margin: 0 15vw;
}
  
.reveal {
    position: relative;
    top: 150px;
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active {
    top: 0;
    opacity: 1;
}

@media (max-width: 800) {
    .default-margin {
        margin: 0 10vw;
    }
}
