@import url(fonts.css);
@import url(default-margin.css);
@import url(banner.css);
@import url(title.css);
@import url(digit-recognizer.css);
@import url(device-ai.css);
@import url(technologies.css);
@import url(footer.css);
@import url(news-features.css);
@import url(sti.css);
@import url(desafios.css);
@import url(iaEducacao.css);
@import url(whatIA.css);
@import url(navBar.css);
@import url(timeline.css);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

::-webkit-scrollbar {
    /* display: none; */
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #6c6c6c ; /* #2576BE = azul #ff914d = laranja */
    border-radius: 5px;
    /* border: 1px solid rgb(255, 255, 255); */
}

::-webkit-scrollbar-track {
    background-color: transparent
}

